<!-- show individual entry in the table with name same as name of folder -->

<h2>Each User's Page</h2>

<h3>
  The name of this user is <%= @user[:name]%> <a href= "/users/<%= @user[:id]%>/edit">Change Me!</a>
</h3>

<p>
  <strong>Id of this user:</strong><%= @user[:id]%>
  <br></br>
  <strong>User's email address:</strong> <%= @user[:email] %> <br></br>
  <strong>User's address:</strong> <%= @user[:address]%>
</p>
