<a href="/products/new">
    <div class="btn btn-primary add-new container-fluid">
        Add New Product
    </div>
</a>

<div class="container-fluid products-container">
    <% (@categories.order:id).each do |category|%>
      <div class="container-fluid category-container">
        <%if Product.where("category_id=#{category[:id]}").length !=0%>
        <h3><%=category[:name]%></h3>
          <%((Product.where("category_id=#{category[:id]}")).order:id).each do |product_cat|%>
            <div class="cat-pdt-container col-md-4 col-xs-12">
              <img src="<%= url("#{product_cat[:image_src]}")%>" alt="product_image"/>
              <div class="product-words-container">
                <p><%=product_cat[:name]%>  $<%=product_cat[:price]%></p>
                <div class="container">
                  <a href="/products/<%= product_cat[:id]%>" class="btn btn-primary btn-left">View</a>
                  <a href="products/<%= product_cat[:id]%>/edit" class="btn btn-primary btn-centre">Edit</a>
                  <form method="post" action="/products/<%= product_cat[:id] %>" class="btn btn-right">
                      <input type="hidden" name="_method" value="delete">
                      <input type="submit" class="btn btn-primary btn-right" value="Delete">
                    </form>
                  </div>
              </div>
            </div>
          <%end%>
        <%end%>
      </div>
    <%end%>
</div>

<!-- <table class="table table-striped" style="border: 1px solid black">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Brand_ID</th>
      <th>Category_ID</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% (@products.order:id).each do |product|%>
      <tr>
        <td>
          <%= product[:id]%>
        </td>
        <td>
          <%= product[:name]%>
        </td>
        <td>
          <%= product[:brand_id]%>
        </td>
        <td>
          <%= product[:category_id]%>
        </td>
        <td>
          <%= product[:price]%>
        </td>
        <td>
          <div class="container">
            <a href= "/products/<%= product[:id]%>" class="btn btn-primary btn-left">View</a>
            <a href= "products/<%= product[:id]%>/edit" class="btn btn-primary btn-centre">Edit</a>
            <form method="post" action="/products/<%= product[:id] %>" class="btn btn-right">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" class="btn btn-primary btn-right" value="Delete">
            </form>
          </div>

        </td>
      </tr>
    <%end%>
  </tbody>
</table> -->
